<phpunit
	bootstrap="bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Unit_Tests">
			<directory suffix="_Test.php">./</directory>
		</testsuite>
	</testsuites>
</phpunit>