#dipo-dashboard .dipo-max-width {
	max-width: 800px;
}

#dipo-dashboard .postbox .hndle {
	cursor: default;
}

#dipo-dashboard .dipo-floated-postbox {
	float: left;
	margin: 25px 25px 25px 0;
	max-width: 397px;
}

#dipo-dashboard .dipo-cleared-postbox {
	clear: both;
	margin: 25px 0 0;
	padding: 10px;
}

#dipo-dashboard #dipo-beta-info {
	border-left: 3px solid red;
}