#dipo-dashboard .dipo-max-width {
	max-width: 800px;
}

#dipo-dashboard .postbox h3 {
	cursor: default;
}

#dipo-dashboard .dipo-floated-postbox {
	float: left;
	margin: 25px 25px 25px 0;
	max-width: 397px;
}

#dipo-dashboard .dipo-cleared-postbox {
	clear: both;
	margin: 25px 0 0;
	padding: 10px;
}

#dipo-dashboard #dipo-beta-info {
	border-left: 3px solid red;
}

#dipo-link-generator label {
	display: inline-block;
	width: 190px;
	padding-left: 10px;
	font-weight: bold;
}

#dipo-link-generator select {
	width: 200px;
}
